<div class="container-fluid mt-5">
    <div class="row justify-content-center">
        <h1 class="mb-4 text-center">Inscription</h1>
        <div class="col-xl-4 col-md-6">
            <form action="index.php?page=app/create" method="post" class="p-3">
                <div class="form-outline mb-4">
                    <label class="form-label" for="username">Username</label>
                    <input type="text" id="username" name="username" class="form-control">
                </div>
                <div class="form-outline mb-4">
                    <label class="form-label" for="password">Password</label>
                    <input type="password" id="password" name="password" class="form-control">
                </div>
                <div class="form-outline mb-4">
                    <label class="form-label" for="email">Email</label>
                    <input type="email" id="email" name="email" class="form-control">
                </div>
                <div class="d-grid gap-2 col-6 mx-auto p-2">
                    <button type="submit" class="btn btn-primary">S'inscrire</button>
                </div>
            </form>
        </div>
    </div>
</div>