<div class="container-fluid mt-5">
    <div class="row justify-content-center">
        <h1 class="mb-4 text-center">Se Connecter</h1>
        <div class="col-xl-4 col-md-6">
            <form action="index.php?page=app/login" method="post" class="p-3">
                <div class="form-outline mb-4">
                    <label class="form-label" for="username">Username</label>
                    <input type="text" id="username" name="username" class="form-control">
                </div>
                <div class="form-outline mb-4">
                    <label class="form-label" for="password">Password</label>
                    <input type="password" id="password" name="password" class="form-control">
                </div>
                <div class="text-center mb-4">
                    <a href="index.php?page=view/create" class="link-info text-decoration-none">Pas encore inscrit ?</a>
                </div>
                <div class="d-grid gap-2 col-6 mx-auto p-2">
                    <button type="submit" class="btn btn-primary">Se connecter</button>
                </div>
            </form>
        </div>
    </div>
</div>